BEGIN;

-- ========= Problems =========
-- Ensure final columns: id (serial/int PK), slug (unique), title, difficulty
-- Create table if it doesn't exist (no-op if present)
CREATE TABLE IF NOT EXISTS public.problems (
  id          SERIAL PRIMARY KEY,
  slug        TEXT UNIQUE,
  title       TEXT NOT NULL,
  difficulty  TEXT NOT NULL
);

-- If you had different column names, rename instead of dropping:
-- ALTER TABLE public.problems RENAME COLUMN "name" TO title;        -- example
-- ALTER TABLE public.problems ADD COLUMN IF NOT EXISTS slug TEXT;
-- UPDATE public.problems SET slug = lower(regexp_replace(title,'\s+','-','g')) WHERE slug IS NULL;
-- ALTER TABLE public.problems ALTER COLUMN slug SET NOT NULL;
-- CREATE UNIQUE INDEX IF NOT EXISTS problems_slug_key ON public.problems(slug);

-- ========= Profiles =========
CREATE TABLE IF NOT EXISTS public.profiles (
  id          UUID PRIMARY KEY,
  name        TEXT,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Link profiles -> auth.users
DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1
    FROM pg_constraint
    WHERE conname = 'profiles_id_fkey'
  ) THEN
    ALTER TABLE public.profiles
      ADD CONSTRAINT profiles_id_fkey
      FOREIGN KEY (id) REFERENCES auth.users(id) ON DELETE CASCADE;
  END IF;
END $$;

-- Auto-create a profile row on new auth user
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger AS $$
BEGIN
  INSERT INTO public.profiles (id, name)
  VALUES (NEW.id, split_part(NEW.email, '@', 1))
  ON CONFLICT (id) DO NOTHING;
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
CREATE TRIGGER on_auth_user_created
AFTER INSERT ON auth.users
FOR EACH ROW EXECUTE PROCEDURE public.handle_new_user();

-- ========= Submissions =========
-- Final columns: id serial PK, "userId" uuid, "problemId" int, code text, language text,
-- passed bool, memory int?, runtime int?, "createdAt" timestamptz
CREATE TABLE IF NOT EXISTS public.submissions (
  id         SERIAL PRIMARY KEY,
  "userId"   UUID NOT NULL,
  "problemId" INT NOT NULL,
  code       TEXT NOT NULL,
  language   TEXT NOT NULL,
  passed     BOOLEAN NOT NULL DEFAULT false,
  memory     INT,
  runtime    INT,
  "createdAt" TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- If you already have the table, bring columns into alignment:
-- ALTER TABLE public.submissions RENAME COLUMN result TO passed;               -- example
-- ALTER TABLE public.submissions ADD COLUMN IF NOT EXISTS language TEXT;
-- ALTER TABLE public.submissions ADD COLUMN IF NOT EXISTS memory INT;
-- ALTER TABLE public.submissions ADD COLUMN IF NOT EXISTS runtime INT;
-- ALTER TABLE public.submissions ADD COLUMN IF NOT EXISTS "createdAt" TIMESTAMPTZ NOT NULL DEFAULT now();

-- FKs
DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM pg_constraint WHERE conname = 'submissions_user_fkey'
  ) THEN
    ALTER TABLE public.submissions
      ADD CONSTRAINT submissions_user_fkey
      FOREIGN KEY ("userId") REFERENCES auth.users(id) ON DELETE CASCADE;
  END IF;

  IF NOT EXISTS (
    SELECT 1 FROM pg_constraint WHERE conname = 'submissions_problem_fkey'
  ) THEN
    ALTER TABLE public.submissions
      ADD CONSTRAINT submissions_problem_fkey
      FOREIGN KEY ("problemId") REFERENCES public.problems(id) ON DELETE CASCADE;
  END IF;
END $$;

CREATE INDEX IF NOT EXISTS submissions_user_problem_created_idx
  ON public.submissions ("userId", "problemId", "createdAt");

-- ========= User Problem Status =========
CREATE TABLE IF NOT EXISTS public.user_problem_status (
  id               SERIAL PRIMARY KEY,
  "userId"         UUID NOT NULL,
  "problemId"      INT NOT NULL,
  completed        BOOLEAN NOT NULL DEFAULT false,
  "lastSubmittedAt" TIMESTAMPTZ
);

-- Unique one row per user+problem
DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM pg_indexes
    WHERE indexname = 'user_problem_status_user_problem_key'
  ) THEN
    ALTER TABLE public.user_problem_status
      ADD CONSTRAINT user_problem_status_user_problem_key UNIQUE ("userId","problemId");
  END IF;
END $$;

-- FKs
DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM pg_constraint WHERE conname = 'ups_user_fkey'
  ) THEN
    ALTER TABLE public.user_problem_status
      ADD CONSTRAINT ups_user_fkey
      FOREIGN KEY ("userId") REFERENCES auth.users(id) ON DELETE CASCADE;
  END IF;

  IF NOT EXISTS (
    SELECT 1 FROM pg_constraint WHERE conname = 'ups_problem_fkey'
  ) THEN
    ALTER TABLE public.user_problem_status
      ADD CONSTRAINT ups_problem_fkey
      FOREIGN KEY ("problemId") REFERENCES public.problems(id) ON DELETE CASCADE;
  END IF;
END $$;

-- ========= RLS =========
ALTER TABLE public.profiles            ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.submissions         ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.user_problem_status ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.problems            ENABLE ROW LEVEL SECURITY;

-- profiles: only owner can read/update
DROP POLICY IF EXISTS profiles_select_own ON public.profiles;
CREATE POLICY profiles_select_own
  ON public.profiles FOR SELECT
  USING (auth.uid() = id);

DROP POLICY IF EXISTS profiles_update_own ON public.profiles;
CREATE POLICY profiles_update_own
  ON public.profiles FOR UPDATE
  USING (auth.uid() = id);

-- submissions: only owner can read/insert (add delete if you want)
DROP POLICY IF EXISTS submissions_select_own ON public.submissions;
CREATE POLICY submissions_select_own
  ON public.submissions FOR SELECT
  USING (auth.uid() = "userId");

DROP POLICY IF EXISTS submissions_insert_own ON public.submissions;
CREATE POLICY submissions_insert_own
  ON public.submissions FOR INSERT
  WITH CHECK (auth.uid() = "userId");

-- user_problem_status: only owner can read/insert/update
DROP POLICY IF EXISTS ups_select_own ON public.user_problem_status;
CREATE POLICY ups_select_own
  ON public.user_problem_status FOR SELECT
  USING (auth.uid() = "userId");

DROP POLICY IF EXISTS ups_insert_own ON public.user_problem_status;
CREATE POLICY ups_insert_own
  ON public.user_problem_status FOR INSERT
  WITH CHECK (auth.uid() = "userId");

DROP POLICY IF EXISTS ups_update_own ON public.user_problem_status;
CREATE POLICY ups_update_own
  ON public.user_problem_status FOR UPDATE
  USING (auth.uid() = "userId");

-- problems: anyone can read
DROP POLICY IF EXISTS problems_read_all ON public.problems;
CREATE POLICY problems_read_all
  ON public.problems FOR SELECT
  USING (true);

COMMIT;
